body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    margin-right:10px
}
a:hover {
    text-decoration: underline;
}

.nav-bar {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header-right, #footer-right {
    justify-self: right;
}

#header {
    font-size: 12px;
    color: rgb(53, 53, 53);

}

#link-sign-in {
    background-color: #4a82fa;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 9px 13px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

#link-sign-in:active {
    background-color: #3a5fae;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(90, 90, 90, 0.856);
    background-color: rgb(235, 235, 235);
    font-size: 15px;
    margin-top: 50px;

}

@media (max-height:450px) {
    #footer {
        position: static;
    }
}

.gray-bar {
    border-top: 1px solid rgba(90, 90, 90, 0.219);
    
}

#link-apps{
    background-image: url('i1_1967ca6a.png');
    background-size: 528px 68px;
    width:30px;
    display: inline-block;
    height: 30px;
    background-position: -132px -40px;
    opacity: 50%;
    vertical-align: middle
}
#link-apps:hover {
    opacity: 100%;
}

#logo-img{
    display:block;
    margin: 130px auto 20px auto;
    height:92px;
    transition: all .3s ease;

}

@media (max-height:520px) {
    #logo-img{
        margin:0px auto 10px auto;
        height: 65px;

    }
}


#search-container {
    display:grid;
    grid-template-rows: 3fr 2fr 1fr;
    justify-items: center;
    align-items: center
    
}


#search-form {
    display:grid;
    grid-template-columns: 250px 250px;
    grid-gap: 30px 20px;
}

#search-line {
    grid-column:1/3;
    border: 1px solid #70707041;
    height: 43px;
    border-radius: 30px;
}

#search-wrapper {
    display:grid;
    grid-template-columns:45px 1fr 8px 45px;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#magnify {
    grid-column:1/2;
    background-image: url('i1_1967ca6a.png');
    background-size: 528px 68px;
    width:30px;
    height:30px;
    background-position: -243px 38px;
    opacity: 50%;
}

#break-bar {
    grid-column:3/4;
    background: rgba(255, 255, 255, 0.535);
    font-size: 28px;
    margin-top: -12px;
    margin-bottom: -8px;
    color:rgba(128, 128, 128, 0.57);

}

#speech {
    grid-column: 4/5;
    background: rgba(0, 128, 0, 0.555);
    background-image: url('speech.png');
    width:30px;
    height:30px;
    background-size:28px;
    background-position: -1px -2px;


}

*:focus {
    outline:none;
}
#search-field {
    grid-column:2/3;
    display:block;
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    border: 0px solid;
    font-size: 16px;
    color: rgb(53, 53, 53);

}



#search-google, #search-lucky {
    width: fit-content;
    padding-left: 13px;
    padding-right: 13px;
    height: 30px;
    border: none;
    opacity: 80%;
    border-radius: 5px;
}

#search-google:hover, #search-lucky:hover {
    border: 1px solid rgba(160, 160, 160, 0.274);
    box-shadow: 0px 1px rgba(160, 160, 160, 0.151);
}

#search-google {
    justify-self:right;
}

#search-lucky {
    justify-self:left;
}

#also-french {
    font-size: 13px;
}
#link-french {
    color: blue;
}